

.carousel {
    font-family: sans-serif;
    text-align: center;
    width: 500px;
    margin: auto;
    animation: fadeIn 5s; 
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

.react-slideshow-fadezoom-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 15px 10px 15px 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}