.SkillsContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    
  }

  .SkillsCards {
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }

 h1 {
    font-size: 30px;
    padding-bottom: 3px;
  }
  .SkillCard {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: .3s;
    text-align: center;
    margin-right: 0 auto;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  }

  .SkillCard:hover {
    transform: scale(1.05);
  }

  .SkillCard:last-child {
    margin-right: 0;
    animation: FadeIn;
  }

  .SkillCard h3 {
    padding-bottom: 5px;
    text-decoration: underline;
  }

  .SkillCard ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  
  .Skills {
    background: #fff;
    animation: FadeIn;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
